.custom-form-default {

    .content-default {

        .header-default {
            display: flex;
            justify-content: center;
        }

        .body-default {}

        .footer-default {
            display: flex;
            justify-content: space-between;
        }
    }
}