.mainLayout {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: flex-start;

    .mainContent {
        width: 100%;
        padding-left: $navbar-width-1;
    }

    @media (max-width: 800px) {
        .mainContent {
            padding-left: 75px;
        }
    }
}