.auth-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .form {
        height: 100%;
        width: 100%;
    }

    .page-transition {
        animation: slideIn 0.5s ease-in-out both;
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    .banner {
        width: 700px;
        height: 100%;
        display: flex;

        .image {
            width: 100%;
            height: 100%;
            display: flex;
        }
    }
}