.groups-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mode-selector {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: $spacing-md;
        gap: $spacing-md;
    }

    .panel-grid {
        width: 100%;
        height: 100%;
    }

    .panel-table {
        width: 100%;
        height: 100%;
    }
}