.content_box {
    margin: $content-box-margin;
    border-radius: $content-box-border-radius;
    background-color: $background-2-light;
    box-shadow: rgba(221, 224, 226, 255) -2.4px 2.4px 3.2px;
}