.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: $spacing-md;
    padding: 0px $spacing-md;
    background-color: $background-3-light;
}