.summary {
    width: 100%;
    height: 100%;

    .summaryContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .pie-chart {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;

            // .legend {
            //     height: 100%;
            //     width: 100%;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: flex-start;
            //     align-items: center;
            //     margin: 0 $spacing-sm 0 $spacing-lg;

            //     .legend-item {
            //         display: flex;
            //         flex-direction: row;
            //         justify-content: flex-start;
            //         align-items: baseline;
            //         gap: $spacing-xs;

            //         .dot {
            //             height: $spacing-xs;
            //             width: $spacing-xs;
            //             border-radius: 50%;
            //             display: inline-block;
            //             background-color: $text-1-light;
            //         }

            //         .label {
            //             font-size: $font-size-sm - 2px;
            //             color: $text-1-light;
            //             margin: $spacing-xxs;
            //             white-space: nowrap;
            //         }
            //     }
            // }
        }

        .bar-chart {
            height: 100%;
            width: 100%;
            position: relative;

            canvas {
                margin: $spacing-sm;
            }
        }
    }
}