.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 5px;
    padding: 5px;


    &_title {
        min-width: 500px;
        width: 50%;
        // height: 20%;
        font-size: 10px;
        align-items: center;
        margin: 20px;
        padding: 5px;
    }

    &_fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        margin: 0px 25px;
        padding: 5px;

        &_field {
            width: 90%;
        }
    }

    &_buttons {
        margin: 15px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 25px;

        &_button {
            margin: 0px 15px;
        }
    }
}