.summary {
    width: 100%;
    height: 100%;

    .summaryContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: $spacing-md;

        .pie-chart {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .bar-chart {
            height: 100%;
            width: 100%;
            position: relative;
        }
    }
}