.navbar {
    height: 100%;
    width: 200px;
    position: fixed;

    background-color: #1d1c1f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .logo {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .navkeys {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        box-sizing: content-box;

        .navkey_cont {

            .navkey {
                font-size: 15px;
                margin: 20px 0px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 10px;

                .navkey_icon {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 17px;
                }

                .navkey_text {
                    color: white;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                .selected {
                    color: #55dc9e;
                }
            }

            &:hover {
                background-color: #413f46;
            }
        }

        .selected {
            background-color: #111111;
            color: #55dc9e;
        }


    }

}


@media (max-width: 800px) {
    .navbar {
        width: 75px;
    }

    .navkey_text {
        display: none !important;
    }
}