.navbar {
    height: 100%;
    width: $navbar-width-1;
    position: fixed;

    background-color: $navbar-background-dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .navkeys {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 35px;

        .navkey {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            padding: 20px 0px 20px 40px;
            color: $navbar-text-light;
            font-weight: 700;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .text {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            &:hover {
                background-color: $navbar-background-hover;

                .text {
                    color: $navbar-text-hover;
                }

                .logo {
                    color: $navbar-text-hover;
                }
            }
        }
    }
}


@media (max-width: 800px) {
    .navbar {
        width: $navbar-width-2;
    }

    .navkey_text {
        display: none !important;
    }
}