.navbar {
    height: 100%;
    width: $navbar-width-1;
    position: fixed;
    // background-color: $navbar-background-light;
    background-color: $background-1-light;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width $transition-speed $transition-easing;

    .navkeys {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 35px;

        .navkey {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            padding: 20px 0px 20px 40px;
            color: $navbar-text-light;
            font-weight: $font-weight-bold;
            border-radius: 0 10px 10px 0;
            transition: background-color $transition-speed $transition-easing,
                color $transition-speed $transition-easing;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .text {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            &:hover {
                background-color: $navbar-hover-background-light;
                color: $navbar-hover-text-light;
            }
        }

        .selected {
            background-color: $navbar-selected-background-light;
            box-shadow: rgba(221, 224, 226, 1) -2.4px 2.4px 3.2px;

            &:hover {
                background-color: $navbar-selected-background-light;
                color: $navbar-text-light;
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    .navbar {
        width: $navbar-width-2;
    }

    .navkey .text {
        display: none !important;
    }
}