.pagesLayout {
    height: 100%;
    width: 100%;

    .pagesContent {
        width: 100%;
        box-sizing: border-box;
        padding-left: 200px;
    }

    @media (max-width: 800px) {
        .pagesContent {
            padding-left: 75px;
        }
    }
}