.pagesLayout {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    width: calc(100vw - 60px);

    .pagesContent {
        margin-left: 200px;
    }

    @media (max-width: 800px) {
        .pagesContent {
            margin-left: 75px;
        }
    }
}