.group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .tanks {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        // flex-shrink: 0;
        // flex-grow: 0;

        // overflow-x: auto;
        // white-space: nowrap;
        /* Prevent content from wrapping */


        // /* Optional: Hide scrollbar for different browsers */
        // scrollbar-width: thin;
        // /* Firefox */
        // scrollbar-color: transparent transparent;
        // /* Firefox */

        // /* Optional: Hide scrollbar for WebKit browsers */
        // -ms-overflow-style: none;
        // /* IE and Edge */
        // scrollbar-width: none;
        // /* Firefox */
    }

}