.groupWidget {
    height: $group-widget-height;

    .disabled {
        opacity: $group-widget-disabled-opacity;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: $text-3-light;
    }

    .addGroupContent {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .groupContent {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .groupBanner {
            width: 100%;
            height: 100%;
        }

        .groupInfo {
            width: 100%;
            height: $spacing-xl * 2.5;
            padding: $spacing-xs;

            .groupName {
                font-size: $font-size-lg;
                text-align: start;
                color: $text-1-light;
                font-weight: $font-weight-bold;
                margin: $spacing-xs $spacing-sm;
            }

            .groupLocation {
                font-size: $font-size-sm;
                font-weight: $font-weight-normal;
                text-align: start;
                color: $text-2-light;
                margin: $spacing-xs $spacing-sm;
            }
        }

        .groupSettings {
            position: absolute;
            display: flex;
            font-size: $font-size-sm;
            font-weight: $font-weight-normal;
            bottom: $spacing-lg;
            text-decoration: none;
            justify-content: space-between;
            width: 100%;
            padding: 0 $spacing-lg;

            .edit,
            .delete {
                text-decoration: inherit;
            }
        }
    }
}