.group {
    appearance: none;
    color: black;
    position: relative;
    width: 300px;
    height: fit-content;
    // border-radius: 12px;
    background-color: rgb(224, 255, 242);

    .content {
        display: flex;
        flex-direction: column;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        align-items: center;
        justify-content: flex-start;

        .header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .name {
                font-size: 20px;
                font-weight: bold;
                margin: 0px 35px;
            }

            .status {
                font-size: 17px;
                line-height: 28px;
                text-align: center;
                align-items: center;
                margin: 0px 35px;

                .text {
                    font-weight: 700;
                }
            }
        }

        .data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;
            width: 100%;

            .svg {
                display: flex;
                flex-direction: column;
                // width: 50%;

                .container {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    margin: 10px 0px;
                }

                .volume {
                    margin-bottom: 4px;
                    font-size: 17px;
                    line-height: 28px;
                    text-align: center;
                    align-items: center;

                    .text {
                        font-weight: 700;
                    }
                }
            }

            .properties {
                display: flex;
                flex-direction: column;
                // width: 50%;
                margin: 0px 25px;

                .list {
                    display: flex;
                    flex-direction: column;
                    margin: 10px;

                    .element {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin: 3px 15px;
                        padding: 5px;
                        font-size: 12px;
                        line-height: 20px;

                        .key {
                            font-weight: 700;
                            color: gray;
                        }

                        .value {
                            font-weight: 700;
                        }
                    }

                }
            }

        }
    }
}