// CONSTANTS
$app-color: #55dc9e;

// Backgound colors
$background-1-light: #eff1f2;
$background-2-light: #eceff1;

$background-1-dark: #161717;
$background-2-dark: #1e1c1e;

// Text colors
$text-1-light: #666b6b;
$text-2-light: #97999a;
$text-3-light: #d4d9da;

$text-1-dark: #e4e9ea;
$text-2-dark: #b7b7b6;
$text-3-dark: #67605f;

// Graph colors
$graph-color-1: #3de198;
$graph-color-2: #f2c986;
$graph-color-3: #f69c68;
$graph-color-4: #e07159;

// Chart colors
$chart-color-1: #77c4a9;
$chart-color-2: #fae499;
$chart-color-3: #789abd;

// Navbar colors
$navbar-background-light: #1c1d20;
$navbar-background-dark: #121314;
$navbar-text-light: #848383;
$navbar-text-dark: #000000;