.tankElements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
    width: calc(100% - 10px);
    height: 100%;
}

.tankElementsEmpty {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width: calc(100% - 10px);
    height: 100%;

    .empty {
        width: 100%;
        padding-top: 50px;
        text-align: center;

        .emptyText {
            font-size: 15px;
            font-weight: 500;
        }
    }
}